@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{
    height: 100%;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    font-family: "Inter", sans-serif;
    --color-50: #f0f8ff;
    --color-100: #dfefff;
    --color-200: #addcff;
    --color-300: #79c9ff;
    --color-400: #32aefe;
    --color-500: #0794f0;
    --color-600: #0075cd;
    --color-700: #005ca6;
    --color-800: #034f89;
    --color-900: #094271; /*#094271*/
    --color-950: #11294f; /*06294b*/
    --color-shadow-hoverable: #017fc382;

    --color-secondary: #00000060;
    --borde-prueba: 1px solid red;
    --borde-radius: .375rem;
    --border-shadow-default: 0 0 10pt 5pt inset var(--color-950);

    color: var(--color-50);
    background-color: var(--color-950);
    height: 100%;

    position: relative;
}

a{color: var(--color-500);}
ul{list-style-type: none;}

header{
    height: 70%;
    position: relative;
}

.header-main{
    position: absolute;   
    top: 45%;
    left: 20%;
}

.header-main > * {
    margin-bottom: .8%;
}

.header-main .subtitle{
    font-weight: 300;
}

.nav-menu-list{
    display: flex;
    padding: 1rem;
    margin-bottom: 5rem;
}

.nav-menu-list .item{
    padding: 2rem;
    text-align: center;
    border-radius: var(--borde-radius);
    color: var(--color-400);
    text-decoration: none;
    width: 100%;
    font-size: 1.4em;
    margin: 0 .5rem;
    min-height: 4rem;
    line-height: 4rem;
    
    transition: transform .2s ease-in-out;
    animation: animation-hoverable 5s infinite;
}

.nav-menu-list .item:hover{
    transform: scale(1.1);
    background-color: #03243d;
}

@keyframes animation-hoverable {
    /*#0793f082*/
    0%{ box-shadow: 0 0 10pt 2pt inset var(--color-shadow-hoverable);}
    25%{ box-shadow: 0 0 10pt 5pt inset var(--color-shadow-hoverable);}
    50%{ box-shadow: 0 0 10pt 10pt inset var(--color-shadow-hoverable);}
    75%{ box-shadow: 0 0 10pt 5pt inset var(--color-shadow-hoverable);}
    100%{ box-shadow: 0 0 10pt 2pt inset var(--color-shadow-hoverable);}
}

.main-article{
    min-height: 30rem;
    padding: 2rem 3.5rem;
    background-color: var(--color-900);
    margin-bottom: 2rem;
}

.main-article > .title{
    text-align: left;
    font-size: 1.6em;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: .5rem;
}

.main-article .subtitle{
    font-weight: 300;
    margin: 1rem 0;
    text-decoration: underline;
}

.main-article > p{
    font-weight: 300;
    margin: 1rem 0;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    min-width: 30rem;
    background-color: var(--color-800);
    border-radius: var(--borde-radius);
    box-shadow: 
    6pt 5pt 5pt 4pt var(--color-secondary);
    margin: 1% 2% 1% 0;
}

.paragraph{
    text-decoration: none;
    font-weight: 300;
    font-size: 1.3em;
}

.card-profession{
    font-size: 1.2em;
}

.container-flex-center{
    display: flex;
    justify-content: center;
}
.container-flex-left{
    display: flex;
    justify-content: left;
}

.icon{
    width: 80px;
    height: 80px;

    background-color: var(--color-50);
    padding: 1rem;
    margin: .5rem;
    border-radius: var(--borde-radius);
}

.icon-circle {
    background-color: var(--color-900);
    border: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    color: rgb(168, 213, 255);
    padding: 1rem;
    animation: animation-hoverable 5s infinite;
    transition: 
    background-color ease-in-out .5s,
    color ease-in-out .5s,
    box-shadow ease-in-out .5s;
}

.animation-key-up{
    animation: animation-key-up 1s infinite;
    animation-direction: alternate;
}

.icon-circle:hover{
    animation: none;
    background-color: var(--color-600);
}

.position-right-bottom{
    position: fixed;
    top: 85%;
    left: 90%;
    z-index: 1;
}

@keyframes animation-key-up {
    from {
        translate: 0 1vw;
    }

    to {
        translate: 0 0;
    }
}

tag{
    background-color: #3c92e8;
    width: fit-content;
    padding: .3rem .6rem;
    border-radius: var(--borde-radius);
    box-shadow: 
    4pt 4pt 4pt 1pt var(--color-secondary);
    margin: .2rem;
}

.list-styled-line li{
    display: flex;
    flex-direction: row;
    margin: .5rem 0;
}
.list-styled-line li > *{
    align-items: center;
    margin: 0 .5rem;
}

footer{
    padding: 3.375rem;
}