header {
    display: flex;
    align-items: center;
    min-height: 40rem;
    background-image: linear-gradient(transparent 75%, rgba(0, 0, 0)), url("../assets/img_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    color: white;
    animation: header-animation 5s infinite alternate-reverse;
}

@keyframes header-animation {
    0% {
        box-shadow: inset 0 0 40px 10px rgba(0, 4, 33, 0.5);
    }
    100%{
        box-shadow: inset 0 0 40px 10px rgb(0, 59, 103, .6);
    }
}

nav {
    background-color: #0a1128ef;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    min-height: 4em;
    padding: .5em 2em;
    box-shadow: 0 10px 20px 5px #0a1128ef;
}
.nav__item{
    border-radius: var(--border-radius);
    color: white;
    font-size: 1.6em;
    flex: 1;
    text-align: center;
    transition: 
        .5s translate ease-in-out,
        .5s transform ease-in-out;
    user-select: none;
}

.nav__item:hover{
    translate: 0 -.5vw;
    text-decoration: underline;
}

.header__content{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.header__data{
    margin-top: 2em;
}

.header__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.header__items > .icon__stored {
    margin: .4rem .5rem;
    margin-right: .5rem;
}

.header__items.bg-darkgray > .icon__stored{
    background-color: #252525;
}
.vertical-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

main{
    padding: 0 clamp(1em, 5rem, 10%);
    position: relative;
}

main > section:nth-child(odd){
    background-color: rgb(0, 31, 71);
}
main > section:nth-child(even){
    background-color: #002e74;
}

section{
    min-height: 5rem;
    margin-bottom: 1rem;
    padding: 1.5em 1.5em;
    box-shadow: 
        -5px 0 6px 1px #0a1128d7 inset,
        5px 0 6px 1px #0a1128d7 inset;
    scroll-margin-top: 150px; 
}

.section__title{
    font-size: 1.6em;
    margin: 0;
    margin-bottom: .5em;
    display: flex;
    align-items: center;
}
.section__title svg{
    margin-right: .8rem;
}

.section__subtitle{
    font-size: 1.2em; 
    margin: .5rem 0;
}

.card__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    place-items: center;
    margin: 1.2em 0;
}
.card{
    background-color: #1e337998;
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 2px 0px rgba(255, 232, 128, 0.5);
    padding-bottom: .4em;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
    gap: .4rem;
    row-gap: .6em;
    width: 100%;
    max-width: 420px;
}
.card > :not(.card__frontpage){
    padding: .2em 1em;
}

.card > .card__tags{
    padding: .2em 1em;
}

.card__title{
    display: flex;
    font-size: 1.5em;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.card__title > *{
    margin: 0;
}

.card__tags{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .2em;
}
.card__content{
    display: flex;
    gap: 10px;
    padding: .1em 1em;
    text-wrap: wrap;
    text-overflow: ellipsis;
    color: #e9e9e9;
}

.card__frontpage{
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 100%;
    box-shadow: inset 0 0 2px 0px rgba(255, 232, 128, 0.5);
}
.card__frontpage img{
    height: 100%;
    max-height: 260px;
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.card__frontpage:has(img:not([src])){
    background: #002d4d;
    background: linear-gradient(135deg,rgba(0, 28, 59, 1) 0%, rgba(0, 34, 138, 1) 100%);
    max-height: 260px;
    height: auto;
    min-height: 250px;
}
.card__frontpage img:not([src]){
    display: none;
}

.badge{
    background-color: var(--badge-bg-color);
    border-radius: var(--border-radius);
    color: var(--badge-font-color);
    padding: .2em .6em;
    height: fit-content;
    width: fit-content;
    text-wrap: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon__stored{
    cursor: default;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0;
}

.icon__stored-row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    margin: 1.2rem 0;
}
.icon__stored-row .icon__stored{
    display: flex;
    align-items: center;   
    min-width: 120px;
    max-width: 200px;
}

#sobremi{
    display: grid;
    grid-template-rows: repeat(2, max(2rem, 1fr));
    grid-template-columns: repeat(auto-fit, 1fr);
    row-gap: .4rem;
    column-gap: 6rem;
    grid-template-areas: 
    "title title"
    "article article";
}
#sobremi .section__title{
    grid-row: repeat(3, 1fr);
    grid-area: title;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 612px) {
    nav {
        flex-direction: column;
    }
    .card__container{
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .card{
        max-width: 100%;
    }
    .card__frontpage:has(img:not([src])){
        height: 250px;
    }

    #sobremi{
        grid-template-areas: 
        "title"
        "article";
    }
}