@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    min-height: 100vh;
    scroll-behavior: smooth;
    scrollbar-color: rgb(3, 59, 157) rgb(11, 29, 60);
    scrollbar-width: none;
    background-color: rgb(11, 29, 60);
}
body{
    background-color: #0A1128;
    box-shadow: 0px 0px 20px 20px rgba(26, 86, 169, 0.75);
    color: white;
    padding: 0;
    margin: 0;

    --border: 1pt solid white;
    --border-radius: .3rem;
    --padding: .2cqh .5cqw;
    --font-family: 'Segoe UI';
    --badge-bg-color: #004cb0;
    --badge-font-color: #fff;
    font-family: var(--font-family);
    animation: fade-in .5s;
    min-height: 100vh;
    width: 100%;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


img{
    user-select: none;
}

.icon-size{
    width: 64px;
    height: 64px;
    object-fit: contain;
    display: block;
}
.icon__stored img{
    margin-right: .4rem;
}
.icon-text{
    white-space: nowrap;
    padding: 0 1rem 0 0;
    margin: auto 0;
}
.icon__stored-row .icon__stored img{
    width: 50px;          
    height: 50px;       
    display: flex;
    justify-content: center; 
    align-items: center;
}

.tooltip {
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -70%;
    left: 0;
    transform: translateX(-1%);
    display: none;
    padding: 4px 12px;
    background-color: #0048ff;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    min-width: fit-content;
    z-index: 2;
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tooltip:hover::after {
    display: block;
}

h3, h4, h5{
    font-weight: bold;
    margin-bottom: 1rem;
}
p{ font-size: 1.2em;}
ul{list-style: none;}
h1{font-size: 3.6em;}

.font-manjari{
    font-family: 'Manjari', serif;
}

.gap{
    display: flex;
    gap: 8px;
}

a{
    font-family: var(--font-family);
    font-size: 1.15rem;
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}

.btn,.selectable{ 
    transition: transform .2s ease-in-out;
}
.btn:hover,.selectable:hover{ 
    transform: translate(0, -.5vw); 
    outline: 2px solid #0099ff;
}
.btn{
    --bg-btn-color: #0062ff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    background-color: var(--bg-btn-color);
    border-radius: var(--border-radius);
    padding: .5rem;
}
.btn-dark{
    --bg-btn-color: rgb(23, 23, 23);
}
.btn-cyan{
    --bg-btn-color: #0076b2;
}

.bg-blue { background-color: #024a91; }
.bg-blue > *, .bg-dark > *{ color: white; }
.bg-dark{ background-color: rgb(23, 23, 23); }
.bg-green{ background-color: rgb(0, 89, 0);}

.bg-darkgray{
    background-color: #12112762;
}
.bs-darkgray{
    box-shadow: 0 0 30px 20px #12112762;
}
.text-graylight{
    color: rgb(190, 190, 190);
}

.secondary{
    filter: grayscale(.7);
}

footer{
    padding: 2rem;
}